*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf

#Environments
.env 
.venv 
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyderproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

*.db
*.sqlite
*.sqlite3
