<!DOCTYPE html>
<html style="background-color:rgb(255, 255, 255);">
  <style>
    a:link {
      color: rgb(113, 191, 68);
      background-color: transparent;
      text-decoration: none;
    }
    
    a:visited {
      color: green;
      background-color: transparent;
      text-decoration: none;
    }
    </style> 

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Baza plezalcev</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <img src="https://scontent.flju1-1.fna.fbcdn.net/v/t1.0-9/12742560_161205960929424_7684408179743599432_n.png?_nc_cat=100&ccb=2&_nc_sid=09cbfe&_nc_ohc=42LwwldU4jQAX-VoGwq&_nc_oc=AQnqlyBNFIi3hRPz6JnxHwwqNxBxVCftEVU22SkVkwskK7-jyUSr0BpTdLvRhKoi6Hk&_nc_ht=scontent.flju1-1.fna&oh=2bc79dca19acd73adff3d3150b0cfdbd&oe=60113A11" alt="AO Kranj" title="logotip" width="100" height="100">
  </head>

<body>
    <div class="content">
        {{!base}}
    </div>
</body>

<footer class="footer" style="background-color:rgb(113, 191, 68);">
    <div class="content has-text-centered">
      <p style="color:rgb(187, 255, 147)">
         &copy; 2020
         Špela Šter
      </p>
    </div>
  </footer>

</html>